<ion-view title="Search">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h3>How Hard is it to go off...</h1>
    <label class="item item-input">
        <input type="text" placeholder="Drug Name">
    </label>
    <button class="button button-balanced button-block">
      Go
    </button>
    <br>
    <ul class="list">
        <div class="item item-divider">
        Popular Medications
        </div>
        <li class="item">Vyvance</li>
        <li class="item">Effexor</li>
        <li class="item">Lexipro</li>
        <li class="item">Lithium</li>
        <li class="item">Adderall</li>
    </ul>
  </ion-content>
</ion-view>
