<div class="modal" ng-controller="SearchScreenCtrl">
  <div class="bar bar-header item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model="query" autofocus>
    </label>
    <button class="button button-clear" ng-click="closeLogin()">
      Cancel
    </button>
  </div>

  <ion-content>
    <li class="item" ng-repeat="pill in (pills|filter:query).slice(0,100)" ng-click="viewPill(pill)">
      {{pill}}
    </li>
  </ion-content>
</div>